.v-content__wrap {
  > .container.fluid {
    padding: 0;
  }

  > .container.fluid,
  > .container.fluid > * {
    height: 100%;
  }

  .route-root:not(.is-paddingless) {
    padding: 24px;
  }
}

/*
 * Main page transition
 *   - Matches Material Design v2
 */

.page- {
  &enter-active {
    transition-property:
      opacity,
      transform;

    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.19, .84, .53, 1);
  }

  &leave-active {
    transition-property:
      opacity,
      transform;

    transition-duration: .1s;
    transition-timing-function: cubic-bezier(.58,.05,.91,.53);
  }

  &enter {
    opacity: 0;
    transform: scale(0.985);
  }

  &leave-to {
    opacity: 0;
    transform: scale(1.007);
  }
}

/*
 * A top-to-bottom crop animation based on clip-paths
 */

.crop- {
  &enter-active,
  &leave-active {
    transition-property: clip-path;
    transition-duration: .5s;
  }

  &enter-active {
    transition-timing-function: cubic-bezier(.58,.05,.91,.53);
  }

  &leave-active {
    transition-timing-function: cubic-bezier(.19, .84, .53, 1);
  }

  &enter,
  &leave-to {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  &leave,
  &enter-to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

/*
 * The trusty fade-in-out transition
 */

.fade- {
  &enter-active,
  &leave-active {
    transition: opacity .2s ease-in-out;
  }

  &enter,
  &leave-to {
    opacity: 0;
  }
}

.fade-zoom- {
  &enter-active,
  &leave-active {
    transition-property: transform, opacity, filter;
    transition-duration: .2s;
  }

  &enter-active {
    transition-timing-function: cubic-bezier(.19, .84, .53, 1);
  }

  &leave-active {
    transition-timing-function: cubic-bezier(.58,.05,.91,.53);
  }

  &enter,
  &leave-to {
    opacity: 0;
    transform: scale(.95);
    filter: grayscale(1);
  }
}

/*
 * A zoom transition (used for fabs in Material Design)
 */

.zoom- {
  &enter-active {
    transition:
      transform .3s ease-out;
  }

  &leave-active {
    transition:
      transform .15s ease-in;
  }

  &enter,
  &leave-to {
    transform: scale(0);
  }
}
